<nav class="tabbar">
  <a href="{% url 'h5:home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><span class="ico">🏮</span>首页</a>
  <a href="{% url 'h5:course_list' %}" class="{% if 'course' in request.resolver_match.url_name %}active{% endif %}"><span class="ico">🥋</span>武学课堂</a>
  <a href="{% url 'h5:article_list' %}" class="{% if 'article' in request.resolver_match.url_name %}active{% endif %}"><span class="ico">📕</span>图文</a>
  <a href="{% url 'h5:message_list' %}" class="{% if 'message' in request.resolver_match.url_name %}active{% endif %}"><span class="ico">🔔</span>消息</a>
  <a href="{% url 'h5:profile' %}" class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><span class="ico">👤</span>我的</a>
</nav>
